/* Presentation*/

body{
    background-color: #0d1117;
}
  
.section{
    background-color: #0d1117;
    color: white;
    height: 85vh; 
}


  
.section-container{
    max-width: 70vw;
    margin: auto;
  
}



.image-container{
    width: 400px;
    border-radius: 0.5em;
    border: 2px solid rgba(240, 240, 240, 0.1);
    box-shadow: rgba(234, 234, 241, 0.2) 0px 4px 15px 0px;

}


.image-container .img{
    display: block;
    border-radius: 0.4em;
    width: 100%;
}



  
  
  